@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap");

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.content {
  height: 100%;
  width: 100%;
  font-family: "Source Sans Pro", sans-serif;
}

.app {
  display: flex;
  position: relative;
}

/* Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f8ff; /* Light blue background for scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #87cefa; /* Light blue color for scrollbar thumb */
  border-radius: 10px; /* Optional: rounded corners */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #add8e6; /* Slightly darker blue when hovering */
}

/* Firefox */
scrollbar-width: thin; /* Makes the scrollbar thin */
scrollbar-color: #87cefa #f0f8ff; /* Thumb color and track color */
